<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload PDF</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <button id="choose-button"><input type="file" name="pdf" accept=".pdf"></button>
        <button id="upload-button"><input type="submit" value="Upload PDF"></button>
    </form>
</body>
</html>